.widgetFAQ .widgetBody ol.semanticList {
    column-gap: 30px;
    padding-left: 1em; /* Override theme manager styles to keep same spacing as the list with expand questions */
}
.widgetFAQ .widgetBody ol.semanticList li {
    margin: 0; /* Override theme manager styles to keep same spacing as the list with expand questions */
}

.widgetFAQ .widgetBody li.breakColumn {
    break-before: column;
}

@media screen and (max-width:500px) {    
    .widgetFAQ .widgetBody ol.semanticList {
        columns: 1;
    }

    .widgetFAQ .widgetBody li.breakColumn {
        break-before: auto;
    }
}
